{% extends 'base.html.twig' %}

{% block title %}TP Symfony{% endblock %}

{% block body %}
   <div class="container" style="margin-top: 20px">
       <h1>Hello This is my Symfony Project! </h1>
   </div>
{% endblock %}
