{% extends  'base.html.twig'%}
{#{%extends 'bootstrap_3_layout.html.twig'%}#}
{%block title%}
    Statistiques
{%endblock%}

{%block body%}
    {{ parent( ) }}
    <div class="container" style="margin-top: 5px;">
        <nav class="navbar navbar-light bg-light">
            <b>  Nombre de Pfe par Entreprise</b>
        </nav>
    </div>
    <br>
    <div class="container row col-12">


        {%for re in res %}
            <div class="container col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ re.designation }}</h5>
                        <p class="card-text">{{ re.nbEnt }} Pfe(s) </p>

                    </div>
                </div>
                <br>
            </div>
        {%endfor%}
{%endblock%}