
{%extends 'base.html.twig'%}
{%block title%}
    Adding Pfe
{%endblock%}
{%block body%}

    <br>
    <div class="col-3 $blue-100" style="margin: 30px">
        {{form(form)}}
    </div>


{%endblock%}